# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Maze.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Work\GI491\GitHub\GI491\Maze\.idea\.idea.Maze\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
